<app-alert [alerts]="alerts" [type]="type"></app-alert>
<div class="card">
  <div class="card-header bg-primary text-white d-flex justify-content-between">
    <h1 class="">Consultas</h1>
  </div>
  <table class="table table-hover table-striped shadow-lg mb-0">
    <thead>
      <tr>
        <th>Tipo de Consulta</th>
        <th>Data</th>
        <th>Medico</th>
        <th>CRM</th>
        <th>Especialização</th>
        <th>Nome</th>
        <th>Nome Social</th>
        <th>Genero</th>
        <th class="acoes">
          <a class="btn btn-primary" (click)=" onAdd()" aria-label="Adicionar consulta">
            <fa-icon [icon]="novoIcon"></fa-icon> Novo
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (consulta of consultas; track consulta.id) {
      <tr>
        <td> {{ TipoConsultaToLabelMapping[consulta.tipoConsulta] }} </td>
        <td> {{ consulta.data | date: 'dd/MM/yyyy HH:mm' }} </td>
        <td> {{ consulta.medicoNome }} </td>
        <td> {{ consulta.medicoCRM | mask: 'SS 00000' }}</td>
        <td> {{ consulta.especializacao }}</td>
        <td> {{ consulta.nome }} </td>
        <td> {{ consulta.nomeSocial }}</td>
        <td> {{ GeneroToLabelMapping[consulta.genero] }} </td>


        <td class="acoes">
          <a class="btn btn-outline-success btn-sm" (click)="onDetail(consulta.id)">
            <fa-icon [icon]="detalheIcon"></fa-icon> Detalhe
          </a>&nbsp;
          <a class="btn btn-outline-primary btn-sm" (click)="onEdit(consulta.id)">
            <fa-icon [icon]="editarIcon"></fa-icon> Editar
          </a>&nbsp;
          <a class="btn btn-outline-danger btn-sm" (click)="onRemove(consulta.id)">
            <fa-icon [icon]="excluirIcon"></fa-icon> Excluir
          </a>
        </td>
      </tr>
      } @empty {
      @if (nenhumaConsulta){
      <tr>
        <td colspan="8" style="text-align: center">Nenhuma consulta encontrada</td>
      </tr>
      } @else {
      @for (0 of linha; track iterador) {
      <tr>
        @for (0 of coluna; track iterador) {
        <td class="card-text placeholder-glow" style="text-align: center">
          <span class="placeholder col-7"></span>
        </td>
        }
        <td class="acoes">
          <a tabindex="-1" class="btn btn-outline-success btn-sm disabled placeholder col-3" aria-hidden="true"></a>&nbsp;
          <a tabindex="-1" class="btn btn-outline-primary btn-sm disabled placeholder col-3" aria-hidden="true"></a>&nbsp;
          <a tabindex="-1" class="btn btn-outline-danger btn-sm disabled placeholder col-3" aria-hidden="true"></a>
        </td>
      </tr>
      }
      }
      }
    </tbody>
  </table>