<div class="card">
  <div class="card-header bg-primary text-white d-flex justify-content-between">
    <h2 class="">Consultas</h2>
  </div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Consulta</th>
        <th>Data</th>
        <th>Medico</th>
        <th>CRM</th>
        <th>Especialização</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (sintoma of sintomas; track sintoma.id) {
      <tr>
        <td>{{ sintoma.id }}</td>
        <td>{{ sintoma.nome }}</td>
        <td class="acoes text-right">
          <a class="btn btn-outline-success btn-sm" [routerLink]="['/sintomas/detalhes',sintoma.id]">
            <fa-icon [icon]="detalheIcon"></fa-icon> Detalhe
          </a>&nbsp;
          <a class="btn btn-outline-primary btn-sm" [routerLink]="['/sintomas/editar',sintoma.id]">
            <fa-icon [icon]="editarIcon"></fa-icon> Editar
          </a>&nbsp;
          <a class="btn btn-outline-danger btn-sm" [routerLink]="['/sintomas/excluir',sintoma.id]">
            <fa-icon [icon]="excluirIcon"></fa-icon> Excluir
          </a>
        </td>
      </tr>
      }@empty {
      @if (vazio){
      <tr>
        <td colspan="8" style="text-align: center">Nenhuma sintoma encontrado</td>
      </tr>
      } @else {
      @for (0 of linha; track iterador) {
      <tr>
        @for (0 of coluna; track iterador) {
        <td class="card-text placeholder-glow" style="text-align: center">
          <span class="placeholder col-7"></span>
        </td>
        }
        <td class="acoes">
          <a tabindex="-1" class="btn btn-outline-success btn-sm disabled placeholder col-3" aria-hidden="true">
          </a>&nbsp;
          <a tabindex="-1" class="btn btn-outline-primary btn-sm disabled placeholder col-3" aria-hidden="true">
          </a>&nbsp;
          <a tabindex="-1" class="btn btn-outline-danger btn-sm disabled placeholder col-3" aria-hidden="true">
          </a>
        </td>
      </tr>
      }
      }
      }
    </tbody>
  </table>
</div>