<mat-toolbar color="primary" class="mb-3">
  <div class="container">
    <span>Consultório</span>
    <!-- <a mat-button routerLink="" class="navbar-brand">Consultório</a> -->
    <a mat-button routerLink="" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" class="nav-link">Home</a>
    <a mat-button routerLink="pacientes" [routerLinkActive]="['active']" class="nav-link">Pacientes</a>
    <a mat-button routerLink="medicos" [routerLinkActive]="['active']" class="nav-link">Medicos</a>
    <a mat-button routerLink="sintomas" [routerLinkActive]="['active']" class="nav-link">Sintomas</a>
    <a mat-button routerLink="consultas" [routerLinkActive]="['active']" class="nav-link">Consulta</a>
  </div>
</mat-toolbar>