<mat-card>

  <mat-toolbar color="primary">
    <span>Medicos</span>
  </mat-toolbar>

  <div class="mat-elevation-z8">
    <div *ngIf="medicos$ | async as medicos; else loading">
      <mat-table [dataSource]="medicos">

        <!-- Nome Column -->
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell *matCellDef="let medico"> {{ medico.nome }} </mat-cell>
        </ng-container>

        <!-- Nome Social Column -->
        <ng-container matColumnDef="nomeSocial">
          <mat-header-cell *matHeaderCellDef> Nome Social </mat-header-cell>
          <mat-cell *matCellDef="let medico"> {{ medico.nomeSocial }} </mat-cell>
        </ng-container>

        <!-- CRM Column -->
        <ng-container matColumnDef="crm">
          <mat-header-cell *matHeaderCellDef> CRM </mat-header-cell>
          <mat-cell *matCellDef="let medico"> {{ medico.crm | mask: 'SS 00000' }} </mat-cell>
        </ng-container>

        <!-- Especialização Column -->
        <ng-container matColumnDef="especializacao">
          <mat-header-cell *matHeaderCellDef> Especialização </mat-header-cell>
          <mat-cell *matCellDef="let medico"> {{ medico.especializacao }} </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="action-column">
            <button (click)="onAdd()" mat-raised-button extended color="accent" aria-label="Adicionar medico">
              Novo
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let medico" class="action-column gap-1 p-2">
            <button mat-stroked-button color="primary" aria-label="Editar medico" (click)="onEdit(medico)">
              Editar
              <mat-icon class="mat-icon-visible">edit</mat-icon>
            </button>
            <button mat-stroked-button color="primary" aria-label="Editar medico" (click)="onDetail(medico)">
              Editar
              <mat-icon class="mat-icon-visible">detail</mat-icon>
            </button>
            <button mat-stroked-button color="warn" aria-label="Remover medico" (click)="onRemove(medico)">
              Remover
              <mat-icon class="mat-icon-visible">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</mat-card>