<app-alert [alerts]="alerts" [type]="type"></app-alert>
<div class="card">
  <div class="card-header bg-primary text-white d-flex justify-content-between">
    <h1 class="">Medicos</h1>
  </div>
  <table class="table table-hover table-striped shadow-lg mb-0">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Nome Social</th>
        <th>CRM</th>
        <th>Especialização</th>
        <th class="acoes">
          <a class="btn btn-primary" (click)=" onAdd()" aria-label="Adicionar medico">
            <fa-icon [icon]="novoIcon"></fa-icon> Novo
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (medico of medicos; track medico.id) {
      <tr>
        <td> {{ medico.nome }} </td>
        <td> {{ medico.nomeSocial }}</td>
        <td> {{ medico.crm | mask: 'SS 00000' }}</td>
        <td> {{ medico.especializacao }}</td>

        <td class="acoes">
          <a class="btn btn-outline-success btn-sm" (click)="onDetail(medico)">
            <fa-icon [icon]="detalheIcon"></fa-icon> Detalhe
          </a>&nbsp;
          <a class="btn btn-outline-primary btn-sm" (click)="onEdit(medico)">
            <fa-icon [icon]="editarIcon"></fa-icon> Editar
          </a>&nbsp;
          <a class="btn btn-outline-danger btn-sm" (click)="onRemove(medico.id)">
            <fa-icon [icon]="excluirIcon"></fa-icon> Excluir
          </a>
        </td>
      </tr>
      } @empty {
      @if (nenhumMedico){
      <tr>
        <td colspan="8" style="text-align: center">Nenhum medico encontrado</td>
      </tr>
      } @else {
      @for (0 of linha; track iterador) {
      <tr>
        @for (0 of coluna; track iterador) {
        <td class="card-text placeholder-glow" style="text-align: center">
          <span class="placeholder col-7"></span>
        </td>
        }
        <td class="acoes">
          <a tabindex="-1" class="btn btn-outline-success btn-sm disabled placeholder col-3" aria-hidden="true"></a>&nbsp;
          <a tabindex="-1" class="btn btn-outline-primary btn-sm disabled placeholder col-3" aria-hidden="true"></a>&nbsp;
          <a tabindex="-1" class="btn btn-outline-danger btn-sm disabled placeholder col-3" aria-hidden="true"></a>
        </td>
      </tr>
      }
      }
      }
    </tbody>
  </table>
