<div *ngIf="pacienteSelecionado">
  <app-titulo [titulo]="(pacienteSelecionado.id === 0 ? 'Novo Paciente' :  'Paciente: ' + pacienteSelecionado.id)">
    <div class="mt-1">
      <button class="btn btn-warning" (click)="voltar()">Fechar</button>
    </div>
  </app-titulo>

  <form class="d-flex flex-column gap-3 mt-4" [formGroup]="pacienteForm" (submit)="pacienteSubmit()">

    <fieldset nome="nome" class="d-flex gap-3">
      <div class="form-floating flex-fill">
        <input id="nome" type="text" formControlName="nome" class="form-control" required>
        <label for="nome" class="form-label">Nome</label>
      </div>
      <div class="form-floating flex-fill">
        <input id="nomeSocial" type="text" formControlName="nomeSocial" class="form-control">
        <label for="nomeSocial" class="form-label">Nome Social</label>
      </div>
    </fieldset>

    <fieldset name="contato" class="d-flex gap-3">
      <div class="form-floating flex-fill">
        <input id="cpf" type="text" mask="000.000.000-00" formControlName="cpf" class="form-control" required>
        <label for="cpf" class="form-label">CPF</label>
      </div>
      <div class="form-floating flex-fill">
        <input id="dataNascimento" type="datetime-local" formControlName="dataNascimento" class="form-control" required>
        <label for="dataNascimento" class="form-label">Data de Nascimento</label>
      </div>
    </fieldset>

    <fieldset nome="infos-complementares" class="d-flex gap-3">
      <div class="form-floating flex-fill">
        <select id="genero" formControlName="genero" name="genero" class="form-control" value="generoSelecionado" required>
          <option disabled value="null">Selecione o gênero</option>
          <option [value]="genero" *ngFor="let genero of generos">{{ GeneroToLabelMapping[genero] }}</option>
        </select>
        <label for="genero" class="form-label">Genero</label>
      </div>
      <div class="form-floating flex-fill">
        <select id="tipoSanguineo" formControlName="tipoSanguineo" name="tipoSanguineo" class="form-control" value="tipoSanguineoSelecionado" required>
          <option disabled value="null">Selecione o tipo sanguíneo</option>
          <option [value]="tipo" *ngFor="let tipo of tipoSanguineo">{{ TipoSanguineoToLabelMapping[tipo] }}</option>
        </select>
        <label for="tipoSanguineo" class="form-label">Tipo Sanguíneo</label>
      </div>
    </fieldset>

    <fieldset nome="contato" class="d-flex gap-3">
      <div class="form-floating flex-fill">
        <input  id="email" type="email" formControlName="email" class="form-control">
        <label for="email" class="form-label">Email</label>
      </div>
      <div class="form-floating flex-fill">
        <input for="telefone" type="tel" mask="(00) 0000-0000||(00) 00000-0000" formControlName="telefone" class="form-control">
        <label id="telefone" class="form-label">Telefone</label>
      </div>
    </fieldset>

    <fieldset nome="endereco" class="d-flex flex-column gap-3">
      <div class="d-flex gap-3">
        <div class="form-floating flex-fill">
        <input type="text" formControlName="cep" mask="00000-000" class="form-control">
        <label class="form-label">Cep</label>
      </div>
      <div class="form-floating flex-fill">
        <input type="text" formControlName="bairro" class="form-control">
        <label class="form-label">Bairro</label>
      </div>
      </div>
      <div class="form-floating">
        <input type="text" formControlName="endereco" class="form-control">
        <label class="form-label">Endereço</label>
      </div>
    </fieldset>

    <div class="form-floating">
      <textarea id="observacao" class="form-control" style="height: 100px"></textarea>
      <label for="observacao" class="form-label">Observação</label>
    </div>

    <div class="form-group">
      <hr>
      <button class="btn btn-success" [disabled]="!pacienteForm.valid">Salvar</button>
    </div>

  </form>
</div>

<div *ngIf="!pacienteSelecionado">
  <app-titulo [titulo]="titulo">
    <div class="mt-1">
      <button class="btn btn-success" (click)="pacienteNovo()">Cadastrar Paciente</button>
    </div>
  </app-titulo>
  <div class="card mt-4">
    <div class="card-header">
      <h5>Lista de Pacientes</h5>
    </div>
      <table class="table table-striped table-hover card-body">
    <thead class="table-light">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Nome Social</th>
        <th scope="col">CPF</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Email</th>
        <th scope="col">Tipo Sanguíneo</th>
        <th scope="col">Gênero</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paciente of pacientes">
        <td>{{paciente.nome}}</td>
        <td>{{paciente.nomeSocial}}</td>
        <td>{{paciente.cpf | mask: '000.000.000-00'}}</td>
        <td>{{paciente.dataNascimento | date: 'dd/MM/yyyy'}}</td>
        <td>{{paciente.email}}</td>
        <td>{{TipoSanguineoToLabelMapping[paciente.tipoSanguineo]}}</td>
        <td>{{GeneroToLabelMapping[paciente.genero]}}</td>
        <td>
          <button type="button" class="btn btn-warning btn-sm" (click)="pacienteSelect(paciente)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
