<div class="d-flex justify-content-center mt-5">
  <div class="card w-50 shadow-lg">
    <div class="card-header bg-primary text-white d-flex justify-content-between">
      <h1>Login</h1>
    </div>
    <div class="card-body">
      <app-alert [alerts]="alerts" [type]="type"></app-alert>

      <form (ngSubmit)="login()" [formGroup]="loginForm">
        <h4>Entre na sua conta</h4>
        <hr>

        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="E-mail (requerido)" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }">
          <span class="text-danger" *ngIf="displayMessage.email">
            <p [innerHTML]="displayMessage.email"></p>
          </span>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" aria-describedby="regraSenha" placeholder="Senha (requerido)" formControlName="password" [ngClass]="{'is-invalid': displayMessage.password }">
          <div id="regraSenha" class="form-text">Senha deve conter caracteres maiúsculos, minúsculos, número e simbolo.</div>
          <span class="text-danger" *ngIf="displayMessage.password">
            <p [innerHTML]="displayMessage.password"></p>
          </span>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary w-100" id=" Login"><fa-icon [icon]="loginIcon"></fa-icon> Login</button>
        </div>

        <div class="text-center">
          <p>Não tem login? <a routerLink="../cadastro">Registre-se</a></p>
        </div>
      </form>
    </div>
  </div>
</div>