<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary">
      <app-titulo [titulo]="titulo"></app-titulo>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="d-flex flex-column mt-3">
      <input type="hidden" formControlName="id" #id>
      <div class="d-flex gap-5">
        <fieldset class="flex-grow-1">
          <legend>Dados consulta</legend>

          <div class=" d-flex flex-column">
            <div class="d-flex gap-3">
              <mat-form-field appearance="outline" appearance="outline" class="flex-fill">
                <mat-label>Tipo de Consulta</mat-label>
                <select matNativeControl formControlName="tipoConsulta">
                  <option [value]="tipo" *ngFor="let tipo of tipoConsulta">{{ TipoConsultaToLabelMapping[tipo] }}</option>
                </select>
                <mat-error *ngIf="form.get('tipoConsulta')?.invalid">{{formUtils.getErrorMessage(form, "tipoConsulta")}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="flex-fill">
                <mat-label>Data</mat-label>
                <input matNativeControl type="datetime-local" formControlName="data">
                <mat-hint>DD/MM/YYYY</mat-hint>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="flex-fill">
              <mat-label>Descrição</mat-label>
              <textarea matInput formControlName="descricao"></textarea>
              <mat-error *ngIf="form.get('descricao')?.invalid">{{formUtils.getErrorMessage(form, "descricao")}}</mat-error>
            </mat-form-field>
          </div>

          <div class="d-flex flex-column gap-3">
            <mat-toolbar class="gap-3">
              <span>Sintomas</span>
            </mat-toolbar>
            <div class="d-flex align-items-center">
              <mat-form-field appearance="outline" class="px-4 flex-grow-1">
                <mat-label>Adicionar sintoma</mat-label>
                <select matNativeControl formControlName="sintomaSelect" (change)="onSelectSintoma($event)">
                  <option [value]="sintoma.id" *ngFor="let sintoma of sintomas">{{ sintoma.nome }}</option>
                </select>
              </mat-form-field>
              <div class="px-4">
                <button mat-mini-fab color="accent" (click)="onAddSintoma()">
                  <mat-icon aria-label="Adicionar um novo sintoma">add</mat-icon>
                </button>
              </div>
            </div>
            <table formArrayName="sintomas" *ngFor="let sintoma of getSintomasFormArray(); let i = index">
              <tr class="" [formGroupName]="i">
                <td>
                  <mat-form-field appearance="outline" class="flex-fill d-flex">
                    <input matInput formControlName="nome" readonly>
                  </mat-form-field>
                </td>
                <td>
                  <button mat-mini-fab color="warn" (click)="removeSintoma(i)">
                    <mat-icon aria-label="Adicionar um novo sintoma">delete</mat-icon>
                  </button>
                </td>
              </tr>
            </table>
            <button mat-raised-button color="primary" (click)="onUpdateSintoma()">Atualizar Sintomas Removidos</button>
          </div>
        </fieldset>

        <div class="d-flex flex-column gap-5">

          <fieldset>
            <legend>Médico</legend>
            <div class="d-flex gap-3 flex-column">
              <mat-form-field appearance="outline" class="flex-fill">
                <mat-label>Medico</mat-label>
                <select matNativeControl formControlName="medicoId" (change)="selecionarMedico($event)">
                  <option [value]="medico.id" *ngFor="let medico of medicos">{{ medico.nome }}</option>
                </select>
                <mat-error *ngIf="form.get('medicoId').invalid">{{formUtils.getErrorMessage(form, "medicoId")}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="flex-fill">
                <mat-label>CRM</mat-label>
                <input matInput formControlName="medicoCRM" mask="SS 00000" placeholder="SP 00000" readonly>
              </mat-form-field>

              <mat-form-field appearance="outline" class="flex-fill">
                <mat-label>Especialização</mat-label>
                <input matInput formControlName="especializacao" readonly>
              </mat-form-field>
            </div>
          </fieldset>
          <fieldset class="d-flex flex-column flex-grow-1 gap-3">
            <legend>Paciente</legend>
            <div class="d-flex gap-3">
              <mat-form-field appearance="outline" class="flex-fill">
                <mat-label>Paciente</mat-label>
                <select matNativeControl formControlName="pacienteId" (change)="selecionarPaciente($event)">
                  <option [value]="paciente.id" *ngFor="let paciente of pacientes">{{ paciente.nome }}</option>
                </select>
                <mat-error *ngIf="form.get('pacienteId')?.invalid">{{formUtils.getErrorMessage(form, "pacienteId")}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="flex-fill">
                <mat-label>Nome Social</mat-label>
                <input matInput formControlName="nomeSocial" readonly>
                <mat-error *ngIf="form.get('nomeSocial')?.invalid">{{formUtils.getErrorMessage(form, "nomeSocial")}}</mat-error>
              </mat-form-field>
            </div>
            <div class="d-flex gap-3">

              <mat-form-field appearance="outline" class="flex-fill">
                <mat-label>CPF</mat-label>
                <input matInput formControlName="cpf" mask="000.000.000-00" readonly>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput [matDatepicker]="dataNascimento" placeholder="DD/MM/AAAA" formControlName="dataNascimento" readonly>
                <mat-hint>DD/MM/AAAA</mat-hint>
                <mat-datepicker #dataNascimento></mat-datepicker>
              </mat-form-field>

            </div>
            <div class="d-flex gap-3">

              <mat-form-field appearance="outline" class="flex-fill">
                <mat-label>Gênero</mat-label>
                <select matNativeControl formControlName="genero">
                  <option [value]="genero" *ngFor="let genero of generos">{{ GeneroToLabelMapping[genero] }}</option>
                </select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="flex-fill">
                <mat-label>Tipo Sanguíneo</mat-label>
                <select matNativeControl formControlName="tipoSanguineo">
                  <option [value]="tipo" *ngFor="let tipo of tiposSanguineo">{{ TipoSanguineoToLabelMapping[tipo] }}</option>
                </select>
                <mat-error *ngIf="form.get('tipoSanguineo')?.invalid">{{formUtils.getErrorMessage(form, "tipoSanguineo")}}</mat-error>
              </mat-form-field>

            </div>
            <div class="d-flex gap-3">

              <mat-form-field appearance="outline" class="flex-fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" readonly>
              </mat-form-field>

              <mat-form-field appearance="outline" class="flex-fill">
                <mat-label>Telefone</mat-label>
                <input matInput formControlName="telefone" readonly>
              </mat-form-field>

            </div>
          </fieldset>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="gap-3">
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button mat-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
