<app-alert [alerts]="alerts" [type]="type"></app-alert>
<div class="card">
  <div class="card-header bg-primary text-white d-flex justify-content-between">
    <h1 class="">Pacientes</h1>
  </div>
  <table class="table table-hover table-striped shadow-lg mb-0 rounded">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Nome Social</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Tipo Sanguíneo</th>
        <th>Gênero</th>
        <th class="acoes">
          <a class="btn btn-primary" (click)=" onAdd()" aria-label="Adicionar paciente">
            <fa-icon [icon]="novoIcon"></fa-icon> Novo
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (paciente of pacientes; track paciente.id) {
      <tr>
        <td> {{ paciente.nome }} </td>
        <td> {{ paciente.nomeSocial }}</td>
        <td> {{ paciente.cpf | mask: '000.000.000-00' }}</td>
        <td> {{ paciente.telefone | mask: '(00) 0000-0000||(00) 00000-0000' }}</td>
        <td> {{ paciente.email }}</td>
        <td> {{ TipoSanguineoToLabelMapping[paciente.tipoSanguineo] }}</td>
        <td> {{ GeneroToLabelMapping[paciente.genero] }}</td>

        <td class="acoes">
          <a class="btn btn-outline-success btn-sm" (click)="onDetail(paciente)">
            <fa-icon [icon]="detalheIcon"></fa-icon> Detalhe
          </a>&nbsp;
          <a class="btn btn-outline-primary btn-sm" (click)="onEdit(paciente)">
            <fa-icon [icon]="editarIcon"></fa-icon> Editar
          </a>&nbsp;
          <a class="btn btn-outline-danger btn-sm" (click)="onRemove(paciente.id)">
            <fa-icon [icon]="excluirIcon"></fa-icon> Excluir
          </a>
        </td>
      </tr>
      } @empty {
      @if (nenhumPaciente){
      <tr>
        <td colspan="8" style="text-align: center">Nenhum paciente encontrado</td>
      </tr>
      } @else {
      @for (0 of linha; track iterador) {
      <tr>
        @for (0 of coluna; track iterador) {
        <td class="card-text placeholder-glow" style="text-align: center">
          <span class="placeholder col-7"></span>
        </td>
        }
        <td class="acoes">
          <a tabindex="-1" class="btn btn-outline-success btn-sm disabled placeholder col-3" aria-hidden="true"></a>&nbsp;
          <a tabindex="-1" class="btn btn-outline-primary btn-sm disabled placeholder col-3" aria-hidden="true"></a>&nbsp;
          <a tabindex="-1" class="btn btn-outline-danger btn-sm disabled placeholder col-3" aria-hidden="true"></a>
        </td>
      </tr>
      }

      <!-- <tr style="height: 80vh;">
        <td colspan="8" style="text-align: center" class="position-relative">
          <ngx-spinner type="ball-atom" [fullScreen]="false">
            <p style="color: white"> Carregando... </p>
          </ngx-spinner>
        </td>
      </tr> -->
      }
      }
    </tbody>
  </table>
</div>