<mat-card>

  <mat-toolbar color="primary">
    <span>Pacientes</span>
  </mat-toolbar>

  <div class="mat-elevation-z8">
    <div *ngIf="pacientes$ | async as pacientes; else loading">
      <mat-table [dataSource]="pacientes">

        <!-- Nome Column -->
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell *matCellDef="let paciente"> {{ paciente.nome }} </mat-cell>
        </ng-container>

        <!-- Nome Social Column -->
        <ng-container matColumnDef="nomeSocial">
          <mat-header-cell *matHeaderCellDef> Nome Social </mat-header-cell>
          <mat-cell *matCellDef="let paciente"> {{ paciente.nomeSocial }} </mat-cell>
        </ng-container>

        <!-- CPF Column -->
        <ng-container matColumnDef="cpf">
          <mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
          <mat-cell *matCellDef="let paciente"> {{ paciente.cpf | mask: '000.000.000-00' }} </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let paciente"> {{ paciente.email }} </mat-cell>
        </ng-container>

        <!-- Tipo Sanguíneo Column -->
        <ng-container matColumnDef="tipoSanguineo">
          <mat-header-cell *matHeaderCellDef> Tipo Sanguíneo </mat-header-cell>
          <mat-cell *matCellDef="let paciente"> {{ TipoSanguineoToLabelMapping[paciente.tipoSanguineo] }} </mat-cell>
        </ng-container>

        <!-- Genero Column -->
        <ng-container matColumnDef="genero">
          <mat-header-cell *matHeaderCellDef> Gênero </mat-header-cell>
          <mat-cell *matCellDef="let paciente"> {{ GeneroToLabelMapping[paciente.genero] }} </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="action-column">
            <button (click)="onAdd()" mat-raised-button extended color="accent" aria-label="Adicionar paciente">
              Novo
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let paciente" class="action-column gap-1 p-2">
            <button mat-stroked-button color="primary" aria-label="Editar paciente" (click)="onEdit(paciente)">
              Editar
              <mat-icon class="mat-icon-visible">edit</mat-icon>
            </button>
            <button mat-stroked-button color="warn" aria-label="Remover paciente" (click)="onRemove(paciente)">
              Remover
              <mat-icon class="mat-icon-visible">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</mat-card>