<h1>{{title}}</h1>
  <div class="card list-sintoma">
    <h5 class="card-header">Lista de sintomas</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">nome</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sintoma of sintomas">
            <td>{{sintoma.id}}</td>
            <td>{{sintoma.nome}}</td>
            <td>
              <button type="button" class="btn btn-warning btn-sm" (click)="editSintoma(sintoma)">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
